.container {
	padding-top: 10px;
}

.content {
	margin-top: 50px;
}

.navbar {
	height: 100px;
}

.logo {
	padding: 10px;
	/*position: relative;*/
	height: 100px;
/*	margin-top: 30px;
	left: 500px;*/
	/*text-align: center;*/
	/*margin: 0 auto;*/
}

#map {
	/*margin-top: 100px;*/
    width: 100%;
    /*height: calc(100% - 140px);*/
    /*height: 100%;*/
    height: 800px;
    max-height: 100%;
	/*z-index: 10000;*/
}

#logo_icon {
	position: absolute;
	left: 100px;
}
#logo_text {
	position: absolute;
	left: 200px;
}

.header {
	padding-bottom: 0px;
	padding-top: 0px;
}

#target {
        width: 345px;
}


.content {
	padding-top: 50px;
}

#toPay {
	background-color: #66cc66 ;
	color: white;
}
.order-time,
.order-price {
	position: relative;
	top: 5px;
	font-size: 20px;
}
label {
	font-size: 14px;
}

#toPay:hover {
	background-color: #181 ;
	color: white;
}

.backForth {
	padding: 12px 20px !important;
	font-size: 17px;
	font-weight: bold;
}
#submitToPay {
	display: none;
}

.pager .disabled > a {
	background-color: #9e9 !important;
	color: #aaa !important;
}
@media(max-width: 768px){
	.headerOrder {
		display: none;
	}
}

.jumbotron {
	box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.3);
}


#successinfo {
	text-transform: none;
	font-size: 26px;
	text-align: center;
}

.wrongplace a:hover,
.wrongplace a,
.wrongplace {
	color: #d00;
	font-size: 20px;
}
.wrongplace {
	display: none;
}

#comment {
	display: none;
}

.orderdis {
	color: #d00;
	font-weight: 600;
}